---
layout: single
title: "Фильмы"
description: ""
permalink: /films/

---
<!-- <div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}"></div> -->


<p>Я люблю фильмы. В детcтве у меня была специальная тетрадка куда я записывал все свои просомтренные фильмы, не говоря про книги со всеми фильмами голливуда</p>



{% for entry in site.data.films.list %}
<div>
  <div class="line-header">
    {% assign filmssize = entry.movie | size %}
    
    {% if filmssize == 1 %}

      <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">{{ filmssize }} book</span>
    
    {% elsif filmssize > 1 %}
    
      <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">{{ filmssize }} фильмов</span>
    
      {% else %}
    
      <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">I haven't read any books this year. Пока.</span>
    
      {% endif %}
  
  </div>


  <div>
    <!--Book card for each year-->
    <ul class="media-list" style="margin-left: 0; padding-left: 0;">
      {% for movie in entry.movie %}
      
      <li style="list-style-type: none;">
      <div>
      
        <div class="book-item">
      
          <a href="{{ movie.link }}" target="_blank">
            <img class="cover align-left" src="{{ movie.img }}" alt="{{ movie.title }}" style="width: 150px;" /> </a>

        </div>
      
        <div class="book-info">
            
            <h4><a class="book-title" href="{{ movie.link }}" target="_blank">{{ movie.title }}</a></h4>
            
            <!-- <p class="book-author">{{ book.author }}</p> -->
            
            <p>{{ movie.desc | markdownify }}</p>
            
            <!-- оенка -->
            <p class="post-meta">Моя оценка:

              {% if movie.star == 5 %}
              <span style="color: #EB002B">★★★★★</span>

              {% elsif movie.star == 4 %}
              <span style="color: #EB002B">★★★★</span>
              {% elsif movie.star == 3 %}
              <span style="color: #EB002B">★★★</span>
              {% elsif movie.star == 2 %}
              <span style="color: #EB002B">★★</span>
              
              {% else %}
              <span style="color: #EB002B">★</span>
              
              {% endif %}
              
            
            </p>
            <!-- конец оценки -->

            <!-- теги -->
            <!-- {% for tag in book.genre %}
            
            <p> {{ tag }}</p>
            
            {% endfor %} -->
            <!-- конец тегов -->
        </div>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endfor %}

</div>