---
permalink: /404.html
sitemap: false
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ site.name }} | Страница не найдена</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if site.local_fonts %} {% asset fonts.css %} {% endif %} {% if
    site.blog_theme == "light" %} {% asset notfound-light.css %} {% else %} {%
    asset notfound-dark.css %} {% endif %}
  </head>
  <body>
    <main class="notfound-wrapper">
      <div class="notfound-content">
        <h1>
          <a href="{{ '/' | relative_url }}" title="назад на главную"
            >{{ site.name }}</a
          >
        </h1>
        <p>
          Похоже кто-то заблудился, давайте вернем на
          <a href="{{ '/' | relative_url }}">главную</a>!
        </p>
      </div>
    </main>

    {% unless site.local_fonts %} {% asset webfonts.js %} {% endunless %}
  </body>
</html>
