---
layout: default
title: "Дизайн и разработка мобильных и WEB приложений"
description: "Портфолио Мобильных и WEB приложений"
---

<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <img src="{% asset 'about.jpg' @path %}" alt="Алексей Серпухoвитов" />
  <h2 class="otstup">Привет!</h2>

  <p>
    Меня зовут Алексей, я профессионально занимаюсь разработкой и запуском
    digital-продуктов. Если вам требуется
  </p>
  <ul>
    <li>мобильное приложение которое будет приносить деньги,</li>
    <li>
      аналитическая система которая подружит данные вашей CRM и статистику
      рекламных кабинетов
    </li>
    <li>интернет-магазин, или даже маркетплейс для вас и ваших клиентов</li>
  </ul>

  <p>
    Мы с командой специалистов разработаем дизайн, архитектуру и воплотим
    задумку в жизнь в рамках вашего бюджета и разумных сроков. Поможем отладить
    in-house разработку так что продукт будет приносить выгоду стейкхолдерам и а
    процесс разработчикам.
  </p>
  <p>
    Мне посчастливилось работать с талантливыми креаторами, предпринимателями и
    программистами над проектами с использованием как привычных технологий так и
    с совершенно новыми разработками.
  </p>
  <p>Не стесняйтесь <span id="myBtn">связаться со мной</span></p>

  <!-- <div>
	<form
  action="https://formspree.io/moqkdayo"
  method="POST"
>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label> -->

  <!-- your other form fields go here

  <button type="submit">Send</button>
</form></div> -->

  <h2 class="otstup">Избранные проекты, запуски</h2>

  {% for item in site.data.projects.list %}
  <!-- start period-->
  <!-- begin project -->
  <div class="period {% if site.scrollappear_enabled %}scrollappear{% endif %}">
    <!-- begin header -->
    <div class="period_header article-list-footer">
      <span class="project_date">{{item.dates}}</span>
      <span class="article-list-divider">-</span>
      <span class="project_client">{{item.client}}</span>
    </div>
    <!-- end header -->

    <!-- begin description -->

    {% for entry in item.projects %}
    <!-- begin project -->
    <div
      class="
        project
        inside
        effect1
        {%
        if
        site.scrollappear_enabled
        %}scrollappear{%
        endif
        %}
      "
    >
      <div class="project_description">
        <img
          class="imageIcon"
          src="{{ entry.iconUrl }}"
          alt="{{ entry.project | smartify}}"
        />
        <h4>
          <a href="{{ entry.pageUrl | relative_url}} ">{{ entry.project }}</a>
        </h4>
        <p>{{ entry.description | markdownify }}</p>
        <!-- begin project_footer -->
        <div class="project_footer">
          <!-- begin tags -->
          {% for tag in entry.tags %} {% if tag == 'iOS' %}
          <span class="project_tags"
            ><a href="{{ entry.iosUrl }}">{{ tag }}</a></span
          >
          {% elsif tag =='Android' %}
          <span class="project_tags"
            ><a href="{{ entry.androidUrl }}">{{ tag }}</a></span
          >
          {% else %}
          <span class="project_tags"> <a href="">{{ tag }}</a></span>
          {% endif %} {% endfor %}
          <!-- end tags -->
          <span class="project_tags"> {{ tag }}</span>
        </div>
        <!-- end project_footer -->
      </div>
    </div>
    {% endfor %}<!-- / project -->
  </div>

  {% endfor %}

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="modal-body">
        <form
          action="https://getform.io/f/a2a1f2ea-d98d-4283-b740-4f43ccaeb385"
          method="POST"
        >
          <p>
            Ваше имя <br />
            <input type="text" name="name" />
          </p>
          <p>
            оставьте email<br />
            <input type="email" name="email" />
          </p>
          <p>
            А теперь сообщение<br />
            <input type="text" name="message" />
            <br />
            <button type="submit">Send</button>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  </div>
</div>
